<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ReverseProxiesConfig" type="ReverseProxy.XmlSerializerSectionHandler, ReverseProxy"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>


	<ReverseProxiesConfig type="ReverseProxy.Models.Config.ReverseProxiesConfig">
		<Proxies>
			<ReverseProxyConfig>
				<Host>
					<Ip>127.0.0.1</Ip>
					<Port>8888</Port>
				</Host>
				<Forward>
					<Ip>144.76.119.8</Ip>
					<Port>8888</Port>
				</Forward>
			</ReverseProxyConfig>
			<ReverseProxyConfig>
				<Host>
					<Ip>127.0.0.1</Ip>
					<Port>8889</Port>
				</Host>
				<Forward>
					<Ip>144.76.119.8</Ip>
					<Port>8889</Port>
				</Forward>
			</ReverseProxyConfig>
		</Proxies>
	</ReverseProxiesConfig>
</configuration>
